@model AppIntegrador.Models.Opciones_de_seleccion
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;
}
<div class="sortable-container vertical">
    @Html.LabelFor(opcion => opcion.Texto, "Texto de la opción", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-xs-6">
        @Html.TextBoxFor(opcion => opcion.Texto, null, new
        {
            @Name = "[" + i + "].Texto",
            @class = "texto form-control col-xs-6",
            @maxlength = "50",
            @onkeyup = "charCount(this)"
        })
        <div class="counter small pull-right">0/50 caracteres usados</div>
    </div>

    <div>
        <button type="button" id="rem@(i)" class="remove-button btn btn-danger" onclick="removeOption('rem@(i)')">Borrar</button>
    </div>
    <div style="display: none">
        @Html.TextBoxFor(opcion => opcion.Orden, null, new
        {
            @Name = "[" + i + "].Orden",
            @class = "orden",
            @Value = i
        })
    </div>
</div>

