@model AppIntegrador.Models.Opciones_de_seleccion
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;
}
<div class="form-group">
    @Html.LabelFor(opcion => opcion.Texto, "Texto de la opción", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(opcion => opcion.Texto, null, new { @Name = "[" + i + "].Texto", @maxlength = "50", @required="required" })
        @if (i >= 1)
        {
            <input type="button" value="Delete" class="remove"/>
        }
        <br />
        @Html.ValidationMessageFor(opcion => opcion.Texto, "50 caracteres máximo")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('input[name="[@(i)].Texto"]').keyup(function (e) {
            var $this      = $(this),
            charLength = $this.val().length,
            charLimit  = $this.attr("maxlength");
            // Displays count
            $this.next('span[name="count@(i)"]').html(charLength + "/" + charLimit);
            console.log(charLength + "/" + charLimit)
        });
    </script>
}

