@model AppIntegrador.Models.Opciones_de_seleccion
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;
}
<div class="form-group">
    @Html.LabelFor(opcion => opcion.Texto, "Texto de la opción", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(opcion => opcion.Texto, null, new
        {
            @Name = "[" + i + "].Texto",
            @class = "texto form-control long-textbox",
            @maxlength = "50"
        })
       
        @Html.TextBoxFor(opcion => opcion.Orden, null, new
        {
            @Name = "[" + i + "].Orden",
            @class = "orden",
            @Value = i
        })

        <button type="button" id="rem@(i)" [disabled]="true" class="remove-button btn btn-danger" onclick="removeOption('rem@(i)')">Borrar</button>
        <br />
        @Html.ValidationMessageFor(opcion => opcion.Texto, "50 caracteres máximo")
    </div>
</div>

