
@{
    Layout = null;
}

<!DOCTYPE html>
<html>





<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css">
    <link rel="stylesheet" href="~/Views/Dashboard/styles.css">



</head>

<body>

    <div class="container">
        <div class="jumbotron">

            <div class="page-header center">
                <h1>Formulario</h1>
            </div>

            <hr>
            <p>CI-0000</p>
            <p>Nombre de Formulario</p>
            <p>Código de Formulario</p>
            <p>Semestre</p>
            <p>Grupo</p>
            <p>Profesor</p>
            <hr>

            <div id="output">
                <script src="~/Views/Dashboard/collapsible.js"></script>
            </div>

        </div>
    </div>




</body>

</html>
