
@{
    ViewBag.Title = "Formulario";
}

<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />
</head>

<body>

    <h2>Formulario</h2>

    <script src="~/Scripts/Visualizacion/Chart.js"></script>
    <script src="~/Scripts/Visualizacion/chartjs-plugin-datalabels.js"></script>
    <script src="~/Scripts/Visualizacion/chroma.js"></script>
    <script src="~/Scripts/Visualizacion/charts.js"></script>
    <script src="~/Scripts/Visualizacion/box.js"></script>
    <script src="~/Scripts/Visualizacion/collapsibles.js"></script>

</body>

