@model AppIntegrador.Models.Dashboard

@{
    ViewBag.Title = "Index";
}

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />

        <link href="~/Content/Visualizacion/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/Scripts/Visualizacion/filtros.js"></script>
        <link rel="stylesheet" href="~/Content/Visualizacion/bootstrap-multiselect.css" type="text/css" />

        <script type="text/javascript" src="~/Scripts/Visualizacion/bootstrap-multiselect.js"></script>
    </head>

    <body>
        <h3>Dashboard</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3" id="panelFiltros">
                    <h4>Filtros</h4>
                    <script>
                        var filtros = new Filtros();
                        filtros.crearFiltros();
                    </script>
                </div>

                <div class="col" id="panelDashboard">

                </div>
            </div>
        </div>
</body>