
@{
    ViewBag.Title = "Index";
}

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />

        <link href="~/Content/Visualizacion/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/Visualizacion/bootstrap-multiselect.css" type="text/css" />

        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Visualizacion/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
       
        @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@


    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3" id="panelFiltros">
                    <h4>Categorías</h4>
                    <div class="example">
                        <h5>Unidad Académica</h5>
                        <span class="multiselect-native-select">
                            <select id="example-getting-started" multiple="multiple">
                                <option value="ECCI"></option>
                                <option value="Derecho"></option>
                            </select>
                            <div class="btn-group">
                                <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected" aria-expanded="false">
                                    <span class="multiselect-selected-text">Seleccione una opción...</span>
                                    <b class="caret"></b>
                                </button>
                                <ul class="multiselect-container dropdown-menu">
                                    <li class="">
                                        <a tabindex="0">
                                            <label class="checkbox" title="ECCI">
                                                <input type="checkbox" value="ECCI"> ECCI
                                            </label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a tabindex="0">
                                            <label class="checkbox" title="Derecho">
                                                <input type="checkbox" value="Derecho"> Derecho
                                            </label>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </span>
                    </div>
                </div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        jQuery('#example-getting-started').multiselect();
                    });
                </script>

                <div class="col" id="panelDashboard">
                    <h4>Dashboard</h4>
                </div>
            </div>
        </div>    
    </body>