
@{
    ViewBag.Title = "Index";
}

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />
        <link href="~/Content/Visualizacion/bootstrap.min.css" rel="stylesheet" />


    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3" id="panelFiltros">
                    <h4>Categorías</h4>
                </div>

                <div class="col" id="panelDashboard">
                    <h4>Dashboard</h4>
                </div>
            </div>

        </div>    

    </body>