@model AppIntegrador.Models.Dashboard

@{
    ViewBag.Title = "Index";
}

    <head>
        <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />

        <link href="~/Content/Visualizacion/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/Scripts/Visualizacion/filtros.js"></script>
        <link rel="stylesheet" href="~/Content/Visualizacion/bootstrap-multiselect.css" type="text/css" />

        <script type="text/javascript" src="~/Scripts/Visualizacion/bootstrap-multiselect.js"></script>
    </head>

    <body>
        <h3>Dashboard</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3" id="panelFiltros">
                    <h4>Filtros</h4>
                    <script>
                        var filtros = new Filtros();
                        filtros.crearFiltros();
                    </script>

                    <script>
                        function recuperarUnidadAcademicaSeleccionada()
                        {
                            var ua = document.getElementById("filtroUA");
                            var uaSeleccionada = ua.options[ua.selectedIndex].value;
                            var s = uaSeleccionada.split("/");
                        }
                        function recuperarCarreraEnfasis()
                        {
                            var ce = document.getElementById("filtroCarreraEnfasis");
                            var ceSeleccionada = ce.options[ce.selectedIndex].value;
                            var s = ceSeleccionada.split("/");
                        }
                        function recuperarCursoGrupo()
                        {
                            var cg = document.getElementById("filtroCursoGrupo");
                            var cgSeleccionada = cg.options[cg.selectedIndex].value;
                            var s = cgSeleccionada.split("/");
                        }
                        function recuperarProfesor()
                        {
                            var p = document.getElementById("filtroProfesores");
                            var pSeleccionada = p.options[p.selectedIndex].value;
                            var s = pSeleccionada.split("/");
                        }

                        function recuperarFiltros()
                        {
                            this.recuperarUnidadAcademicaSeleccionada();
                            this.recuperarCarreraEnfasis();
                            this.recuperarCursoGrupo();
                            this.recuperarProfesor();
                        }


                    </script>
                   
                </div>

                <div class="col" id="panelDashboard">

                </div>
            </div>
        </div>
</body>