@model IEnumerable<AppIntegrador.Models.Funcionario>
@{
    ViewBag.Title = "Añadir Funcionarios";
    List<string> nombresFuncionarios = ViewBag.FuncionariosNombreLista;
    var totalFuncionarios = 0;
}

<h4> Añadir responsables al accionable </h4>

<table id="TablaSeleccionarFuncionarios" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>

            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
        </tr>
    </thead>
    <thead>
        @foreach (var func in Model)
        {
            <tr>
                <td>
                    <input type="checkbox"
                           id="pr(@totalFuncionarios)"
                           name="checkBoxResponsableAccionable"
                           class="SectionCheckbox"
                           value="@func.Correo" />
                    @*onclick="seleccionaCheckBoxGen(this, 'secc', 'scodigo', cantidadSecc)" />*@
                </td>

                <td>
                    @nombresFuncionarios[totalFuncionarios];
                </td>
                <td>
                    @func.Correo
                </td>
            </tr>
            totalFuncionarios += 1;
        }
    </thead>
</table>
