@model IEnumerable<AppIntegrador.Models.Objetivo>

@{
    ViewBag.Title = "Index";
}


<div class="container">

    @if (Model.Count() == 0)
    {
        <div class="centeredText">
            <p>
                Aún no se han creado objetivos
            </p>
        </div>
    }
    else
    {
        @Html.Partial("~/Views/Objetivos/_tablaObjetivos.cshtml", Model)
    }

    
    @*
    Modificado por: Johan Córdoba
    Historia a la que pertenece: MOS-1.2 "agregar, modificar, borrar y consultar los objetivos de un plan de mejora"
    Cambio para que redireccione al create de objetivo
    *@
    
    <div class="botonCentrado">
        <p>
            @Html.ActionLink("Agregar", "Create", "Objetivos", null, new { @class = "modal-link btn btn-Nuevo" })
        </p>
    </div>
</div>
