@model IEnumerable<AppIntegrador.Models.ObtenerSeccionesDeFormulario_Result>

@{
    ViewBag.Title = "_SeccionesActualesPartial";
}

@foreach (var item in Model)
{
    <div class="row grisUCR1">
        <h3>
            @Html.DisplayFor(modelItem => item.Nombre)
        </h3>
    </div>
}
