@model AppIntegrador.Models.LlenarFormulario

@{
    ViewBag.Title = "Llenar formulario";
}
<div class="container">
    @using (Html.BeginForm("GuardarRespuestas", "Formularios", FormMethod.Post))
    {
        @Html.Hidden("respuestas.FCodigo", null, new { @id = "respuestas.FCodigo", @Value = Model.Formulario.Codigo })
        @Html.Hidden("respuestas.Finalizado", null, new { @id = "respuestas.Finalizado", @Value = 0 })

        <div class="card card-header shadow">
            <h2 id="encabezado" class="text-center">@Html.DisplayFor(model => model.Formulario.Nombre)</h2>
        </div>
        <br />

        <div id="section-container">
            @{ Html.RenderPartial("SeccionConPreguntas", Model.Secciones); }
        </div>

        <div class="card card-body shadow form-group float-right sticky-bottom">
            <div>

                <button type="submit" class="btn-azulUCR" onclick="FinalizarFomulario()">Finalizar formulario</button>
                <button type="submit" class="btn-azulUCR">Guardar Respuestas</button>

                @Html.ActionLink("Cancelar", "LlenarFormulario", "Controller", new { @class = "btn-blancoUCR" })
            </div>
        </div>

    }

</div>

@section scripts {

    <script>
        function FinalizarFomulario() {
            var numFormualrio = document.getElementById("respuestas.Finalizado").value
            console.log(numFormualrio)

            document.getElementById("respuestas.Finalizado").value = 1

            var numFormualrio = document.getElementById("respuestas.Finalizado").value
            console.log(numFormualrio)
        }

    </script>

}