@model AppIntegrador.Models.Formulario

@{
    ViewBag.Title = "Llenar formulario";
}

<h2>Llenar</h2>

<input type="button" class="btn btn-default " value="Mostrar" id="show" />

<div id="container">

</div>

<script>

</script>