@model AppIntegrador.Models.Formulario

@{
    ViewBag.Title = "Llenar formulario";
}

<h2 id="encabezado" class="text-center">Llenar formulario "@Html.DisplayFor(model => model.Nombre)"</h2>

<div id="section-container">

</div>

<style>
    #section-container {
        margin-left: 1%;
        margin-right: 1%;
        
    }
</style>

@section Scripts{
    <script>
        var formID = '@Model.Codigo'.trim();

        $(document).ready(function () {
            getSections(formID);
        })


        function getSections(formID) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSections")',
                dataType: 'json',
                data: { id: formID },
                success: function (data) {
                    for (var i = 0; i < data.length; ++i) {
                        var sectionName = "<div class='panel panel-primary '><div class='panel-heading'>" + data[i].Nombre + "</div>"
                        var sectionBody = "<div class='panel-body'>Pregunticas</div></div>" 

                        $(sectionName + sectionBody).appendTo("#section-container")
                    }
                }
            });
        }
    </script>
}
