@model IEnumerable<AppIntegrador.Models.PreguntaConOpciones>

@{
    Layout = null;
}

@foreach (var pregunta in Model)
{
    <div class="panel panel-primary">
        <div class='panel-heading'>
            @Html.DisplayFor(model => pregunta.Enunciado)

            @foreach (var opcion in pregunta.Opciones)
            {
                <div class='panel-body'>
                    @Html.DisplayFor(model => opcion)
                </div>
            }
        </div>
    </div>
}
