@model IEnumerable<AppIntegrador.Models.SeccionConPreguntas>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    var displayOrden = item.Orden + 1;
    <div class="card card-primary">
        <div class='card-heading'>
            @displayOrden.
            @Html.DisplayFor(model => item.Nombre)
        </div>
        <div class='card-body '>
            @{Html.RenderPartial("TodasLasPreguntas", item.Preguntas);}
        </div>
    </div>
}

<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
        @using (Html.BeginForm("GuardarRespuestas", "Formularios", FormMethod.Post))
        {
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-10">
                    <button type="submit" class="btn btn-info">Guardar Respuestas</button>

                    @Html.ActionLink("Cancelar", "LlenarFormulario", "Controller", new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>

<style>
    .full {
        margin-left: 2%;
        margin-right: 0%;
        background: white;
        border: transparent;
    }

    .card-heading {
        font-size: 20px;
    }
</style>