@model IEnumerable<AppIntegrador.Models.SeccionConPreguntas>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class='panel-heading'>
            @Html.DisplayFor(model => item.Nombre)
        </div>
        <div class='panel-body'>
            @{Html.RenderPartial("TodasLasPreguntas", item.Preguntas);}
        </div>
    </div>
}

