
<h3>Proyecto Sistema de mejoramiento docente</h3>
<p>
    Este proyecto consiste en crear un sistema que permita generar evaluaciones a los profesores de todas las facultades de la universidad para en base a estos generar planes de mejora con acciones
    que mejoren la calidad de los cursos.
</p>

<h3>Visión del producto</h3>
<p>
    Un sistema que facilite manejar el nivel de la calidad de docencia en la Universidad de Costa Rica mediante evaluciones a los profesores y planes de mejoramiento.
    Permitiendo dar seguimiento al cambio de diferentes aspectos importantes, para los estudiantes y profesores, en la mejora de los cursos.
</p>

<h3>Información de los equipos</h3>
<h4>Tamales</h4>
<p>Eric Ríos Morales</p>
<p>Sebastián Cruz Chavarría</p>
<p>Marcial Carrillo Vega</p>
<p>Tatiana Briones López</p>
<p></p>
<h4>Equipo RIP</h4>
<p>Jostin Álvarez Carmona</p>
<p>Steven Fernández Espinoza</p>
<p>Gabriel Gálvez Fallas</p>
<p>Diego Orozco Fonseca</p>
<p>Christian Rodríguez Soto</p>
<p>Bryan Ulate Caballero</p>
<p></p>

<!--

<div class="planesTable">

    <h3>Proyecto Sistema de mejoramiento docente</h3>
    <p>
        El sistema de mejoramiento docente es una aplicaci&oacute;n web que permitir&aacute; usar instrumentos de consulta como lo son los
        formularios para poder expresar la opini&oacuten de los estudiantes sobre los docentes en los cursos que imparten. A partir
        de los datos recopilados con las evaluaciones se pretende que se propongan acciones, ya sea por el mismo docente o
        por sus superiores, y que estas permitan generar planes de mejora que permitan darle seguimiento al desempe&ntilde;o y
        avance de los docentes en la UCR.
    </p>

    <h3>Visi&oacute;n del producto</h3>
    <p>
        Crear una plataforma web que permita la evaluaci&oacute;n de los docentes por parte de los estudiantes de la UCR mediante
        formularios. Los resultados obtenidos con las evaluaciones permitir&aacute;n generar estad&iacute;sticas sobre distintos aspectos
        de los cursos evaluados y con estas crear planes de mejoramiento donde se busque darle seguimiento al avance de los
        aspectos a mejorar para cada profesor y curso.
    </p>

    <h3>Informaci&oacute;n de los equipos</h3>
    <h4>Mosqueteros</h4>
    <p>
        Andr&eacute;s Navarrete Boza<br>
        Luis Esteban Ram&iacute;rez Arroyo<br>
        Johan S C&oacute;rdoba Cordonero<br>
        Christian Asch Burgos
    </p>


</div>
 -->
