
<div class="container">
    <h2 class="Info-titulo-fu">Proyecto Sistema de mejoramiento docente</h2>
    <p class="Info-parrafo-fu">
        El sistema de mejoramiento docente es una aplicaci&oacute;n web que permite usar instrumentos de consulta, tales como los
        formularios, para poder expresar la opini&oacuten de los estudiantes sobre los docentes en los cursos que imparten. A partir
        de los datos recopilados con las evaluaciones se pretende que se propongan mejoras a los cursos y profesores, ya sea por el mismo docente o
        por sus superiores, y que estas permitan generar planes de mejora que permitan darle seguimiento al desempe&ntilde;o y
        avance de los docentes en la UCR.
    </p>

    <h2 class="Info-titulo-fu">Visi&oacute;n del producto</h2>
    <p class="Info-parrafo-fu">
        Crear una plataforma web que permita la evaluaci&oacute;n de los docentes por parte de los estudiantes de la UCR mediante
        formularios. Los resultados obtenidos con las evaluaciones permitir&aacute;n generar estad&iacute;sticas sobre distintos aspectos
        de los cursos evaluados y con estas crear planes de mejoramiento donde se busque darle seguimiento al avance de los
        aspectos a mejorar para cada profesor y curso.
    </p>

    <h2 class="Info-titulo-fu">Informaci&oacute;n de los equipos</h2>
    <div class="col-md-3">
        <h3 class="Info-titulo-fu">Tamales</h3>
        <p class="Info-parrafo-fu">
            Eric Ríos Morales<br>
            Sebastián Cruz Chavarría<br>
            Marcial Carrillo Vega<br>
            Tatiana Briones López<br>
        </p>
    </div>

    <div class="col-md-3">
        <h3 class="Info-titulo-fu">RIP</h3>
        <p class="Info-parrafo-fu">
            Jostin Álvarez Carmona<br>
            Steven Fernández Espinoza<br>
            Gabriel Gálvez Fallas<br>
            Diego Orozco Fonseca<br>
            Christian Rodríguez Soto<br>
            Bryan Ulate Caballero<br>
        </p>
    </div>
    <div class="col-md-3">
        <h3 class="Info-titulo-fu">Mosqueteros</h3>
        <p class="Info-parrafo-fu">
            Andr&eacute;s Navarrete Boza<br>
            Luis Esteban Ram&iacute;rez Arroyo<br>
            Johan C&oacute;rdoba Cordonero<br>
            Christian Asch Burgos
        </p>
    </div>
    <div class="col-md-3">
        <h3 class="Info-titulo-fu">CodeBakers</h3>
        <p class="Info-parrafo-fu">
            Daniel Escamilla<br>
            Denisse Alfaro<br>
            Josu&eacute; Zeled&oacute;<br>
            Andr&eacute;s Mes&eacute;<br>
            Berta S&aacute;nchez Jalet<br>
            Ismael Guti&eacute;rrez Hidalgo<br>
        </p>
        <p></p>
    </div>
</div>