@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Integrantes por equipo:</h3>

<h4>Equipo RIP</h4>
<ul>
    <li>Jostin Álvarez Carmona</li>
    <li>Steven Fernández Espinoza</li>
    <li>Gabriel Gálvez Fallas</li>
    <li>Diego Orozco Fonseca</li>
    <li>Christian Rodríguez Soto</li>
    <li>Bryan Ulate Caballero</li>
</ul>
