
<h3>Proyecto Sistema de mejoramiento docente</h3>
<p>El sistema de mejoramiento docente es una aplicación web que permitirá usar instrumentos de consulta como lo son los 
    formularios para poder expresar la opinión de los estudiantes sobre los docentes en los cursos que imparten. A partir 
    de los datos recopilados con las evaluaciones se pretende que se propongan acciones, ya sea por el mismo docente o 
    por sus superiores, y que estas permitan generar planes de mejora que permitan darle seguimiento al desempeño y 
    avance de los docentes en la UCR.</p>

<h3>Visión del producto</h3>
<p>
    Crear una plataforma web que permita la evaluación de los docentes por parte de los estudiantes de la UCR mediante 
    formularios. Los resultados obtenidos con las evaluaciones permitirán generar estadísticas sobre distintos aspectos 
    de los cursos evaluados y con estas crear planes de mejoramiento donde se busque darle seguimiento al avance de los 
    aspectos a mejorar para cada profesor y curso.
</p>

<h3>Información de los equipos</h3>
<h4>Mosqueteros</h4>
<p>
    Andrés Navarrete Boza<br>
    Luis Esteban Ramírez Arroyo<br>
    Johan S Córdoba Cordonero<br>
    Christian Asch Burgos
</p>

