
<h3>Proyecto Sistema de mejoramiento docente</h3>
<p>Este proyecto consiste en crear un sistema que permita generar evaluaciones a los profesores de todas las facultades de la universidad para en base a estos generar planes de mejora con acciones
    que mejoren la calidad de los cursos.</p>

<h3>Visión del producto</h3>
<p>
    Un sistema que facilite manejar el nivel de la calidad de docencia en la Universidad de Costa Rica mediante evaluciones a los profesores y planes de mejoramiento.
    Permitiendo dar seguimiento al cambio de diferentes aspectos importantes, para los estudiantes y profesores, en la mejora de los cursos.
</p>

<h3>Información de los equipos</h3>
<h4>Tamales</h4>
<p>Eric Ríos Morales</p>
<p>Sebastián Cruz Chavarría</p>
<p>Marcial Carrillo Vega</p>
<p></p>
