@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <img class="rounded mx-auto d-block centerImage" src="~/Content/images/firma.png" alt="logo universida de costa rica">
            </div>
            <div class="col-1"></div>
        </div>
    </div>