<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <img class="rounded mx-auto d-block centerImage" src="~/Content/images/firma.png" alt="logo universida de costa rica">
        </div>
        <div class="col-1"></div>
    </div>
</div>

@*//Si hay un mensaje de alerta en el Viewbag mostrarlo como alerta*@
@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <script type="text/javascript">
        alert("@ViewBag.AlertMessage");
    </script>
}