@model AppIntegrador.Models.Opciones_de_seleccion
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;
    Layout = null;
}
    <div class="sortable-container card grisUCR1 vertical-align row shadow">
        <i class="fa fa-sort icono-sort"></i>
        <div class="custom-radio control-label ">
            @*<span class="glyphicon glyphicon-record radio-dibujo"></span>*@
            @if (ViewBag.Tipo == 'U')
            {
                <input type="radio" class="checkmark radio-dibujo" aria-label="..." checked style="margin-top: 30px; margin-left: 60%">
            }
            else if (ViewBag.Tipo == 'M')
            {
                <input type="checkbox" class="checkmark radio-dibujo" aria-label="..." checked disabled style="margin-top: 30px">
            }

        </div>
        @*Html.LabelFor(opcion => opcion.Texto, "Texto de la opción", htmlAttributes: new { @class = "control-label col-lg-2 form-horizontal " })*@
        <div class="col-lg-11 col-md-10" style="margin-top: 18px">
            @Html.TextBoxFor(opcion => opcion.Texto, null, new
            {
                @Name = "[" + i + "].Texto",
                @class = "validar texto form-control opcion-de-seleccion",
                @maxlength = "50",
                @onkeyup = "contarCaracteres(this)",
                @placeholder = "Texto de la opción"
            })
            <div class="contador small float-right">0/50 caracteres usados</div>
        </div>

        <button type="button" [disabled]="true" class="remove-button btn btn-danger" onclick="removeOption(this)" style="margin-top: 18px; margin-right: 18px">X</button>

        <div style="display: none">
            @Html.TextBoxFor(opcion => opcion.Orden, null, new
            {
                @Name = "[" + i + "].Orden",
                @class = "orden",
                @Value = i
            })
        </div>
    </div>

