@model AppIntegrador.Models.Pregunta

@{
    Layout = null;
}

@* Parte de la justificación *@
<div>
    <input type="checkbox" class="float-left" name="showField" id="showField" value="yes" onchange="myFunction()" onclick="EnableDisableTextBox(this)">
    <label for="showField" class="col-lg-10">
        Incluir campo de justificación para la pregunta.
    </label>
</div>

<div class="form-group" id="justificationField">
    <div class="col-lg-12">
        @Html.EditorFor(model => model.Pregunta_con_opciones.TituloCampoObservacion, new
        {
            htmlAttributes = new
            {
                @class = "validar-opc form-control",
                required = "required",
                id = "txtJustificationNumber",
                @maxlength = "50",
                @placeholder = "Descripción",
                @onkeyup = "contarCaracteres(this)"
            }
        })
        <div class="contador small float-right">0/50 caracteres usados</div>
    </div>
</div>

@* ToDo: colocar el icono de selecion unica *@
<div class="form-horizontal">

    <div class="card-body grisUCR1">
        <div class="grisUCR1 vertical-align">
            <div class="custom-control custom-radio control-label ">
                <input type="radio" class="checkmark radio-dibujo" aria-label="..." checked>
            </div>
            <div class="col-lg-11" style="margin-top: 18px">
                <input class="texto form-control" type="text" disabled value="Sí"><br>
            </div>
        </div>

        <div class="grisUCR1 vertical-align">
            <div class="custom-control custom-radio control-label ">
                <input type="radio" class="checkmark radio-dibujo" aria-label="..." checked>
            </div>
            <div class="col-lg-11" style="margin-top: 18px">
                <input class="texto form-control" type="text" disabled value="No"><br>
            </div>
        </div>

        <div class="grisUCR1 vertical-align">
            <div class="custom-control custom-radio control-label ">
                <input type="radio" class="checkmark radio-dibujo" aria-label="..." checked>
            </div>
            <div class="col-lg-11" style="margin-top: 18px">
                <input class="texto form-control" type="text" disabled value="No responde"><br>
            </div>
        </div>
    </div>
</div>