.wrapperPlanesDeMejora {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
}

    .wrapperPlanesDeMejora .item1 {
        color: red;
    }

.sameRow {
    flex-direction: row;
    justify-content: space-between;
}

.sameColumn {
    flex-direction: column;
    justify-content: space-between;
}

.greyOneBackground {
    background-color: #F1F1F1 !important;
    border-radius: 25px;
    width: 90%;
}

.fullWidthPlanesDeMejora {
    width: 100%;
}


