.wrapperPlanesDeMejora {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
}

    .wrapperPlanesDeMejora .item1 {
        color: red;
    }

.alignRight {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alignLeft {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sameColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.greyOneBackground {
    background-color: #D4D4D4 !important;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

.greyTwoBackground {
    background-color: #F1F1F1 !important;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.fullWidthPlanesDeMejora {
    width: 100%;
}


.redError {
    font-size: 9px;
    color: red;
}