
@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Create";
    AppIntegrador.Models.PlanDeMejora planModel = new AppIntegrador.Models.PlanDeMejora();
    Layout = null;
}
<!-- Modal -->

<div class="modal-header">
    <h4 class="modal-title">Crear Plan de Mejora</h4>
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Los campos con ** son obligatorios. <br>
        <span class="glyphicon glyphicon-warning-sign"></span>
        La fecha de inicio debe ser mayor que la fecha de finalización.
    </div>
</div>
<div class="modal-body">
    <form role="form" id="newPlan" action="CrearPlanDeMejora" method="post">
        <div class="form-group">
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => planModel.nombre, "Nombre")
                </div>
                <div class="inputPlace">
                    <input type="text" name="nombre" placeholder="Máximo 50 caracteres" class="form-control" maxlength="50" c />
                </div>
            </div>
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => planModel.codigo, "Fecha Inicio")
                </div>
                <div class="inputPlace">
                    <input type="date" name="fechaInicio" class="form-control" />
                </div>
            </div>
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => planModel.codigo, "Fecha Fin")
                </div>
                <div class="inputPlace">
                    <input type="date" name="fechaFin" class="form-control" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="botonCentrado">
                <input type="submit" value="Crear Plan de Mejora" class="btn btn-success" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </form>
</div>
        



