@model AppIntegrador.Models.Metadata.PlanDeMejoraMetadata

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!-- Modal -->
<div class="modal-body">

    <h4>Creación de Plan de Mejora</h4>
    <hr />
    <form action="CrearPlanDeMejora" method="post">
        <div class="form-group">
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => model.nombre, "Nombre")
                </div>
                <div class="inputPlace">
                    <input type="text" name="nombre" placeholder="Nombre del Plan de Mejora" class="form-control" />
                </div>
            </div>
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => model.fechaInicio, "Fecha Inicio")
                </div>
                <div class="inputPlace">
                    <input type="date" name="fechaInicio" class="form-control" />
                </div>
            </div>
            <div class="verticalBoxesCrear">
                <div class="labelPlace">
                    @Html.LabelFor(model => model.fechaFin, "Fecha Fin")
                </div>
                <div class="inputPlace">
                    <input type="date" name="fechaFin" class="form-control" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="botonCentrado">
                <input type="submit" value="Crear Plan de Mejora" class="btn btn-success" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


