@model IEnumerable<AppIntegrador.Models.Formulario>
@{
    ViewBag.Title = "Listar Formularios";
    var FormulariosLista = (System.Data.Entity.Core.Objects.ObjectResult<string>)ViewBag.FormulariosLista;
}

<div class="form-horizontal card-group">
    <div class="modal fade" id="ModalFormulariosVer" tabindex="-1" role="dialog" aria-labelledby="ModalFormulariosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="ModalVerFormulariosInterno" style="width:auto">
                        <h4> Formularios asociados al plan </h4>

                        <table id="TablaVerFormularios" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>
                                        Codigo
                                    </th>
                                </tr>
                            </thead>
                            <thead>
                                @foreach (var formulario in FormulariosLista)
                                {
                                    <tr>
                                        <td>
                                            @formulario
                                        </td>
                                    </tr>
                                }
                            </thead>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blancoUCR" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>