@model AppIntegrador.Models.PlanDeMejora

@{
    ViewBag.Title = "Creación de Plan de Mejora";
}

<h4>Creación de Plan de Mejora</h4>

<div>
    @Html.ActionLink("Regresar a la lista de planes", "Index")
</div>