<div class="fullWidth">
    <div class="wrapperPlanesDeMejora greyOneBackground">
        <div>
            <h3>Creacion de Plan De Mejora</h3>
            <!-- El siguiente div es para la vista de creacion de planes de mejora -->
            <div>
                @Html.Partial("~/Views/PlanDeMejora/_crearPlanDeMejora.cshtml")
                <br />
            </div>
        </div>

        <!-- El siguiente div es para la los objetivos -->
        <div id="creacionObjetivos" typ>
            Objetivos del plan de mejora que voy a crear
        </div>

        <!-- El siguiente div es para las acciones de mejora del objetivo escogido -->
        <div id="creacionAccionesDeMejora">
            Acciones de mejora
        </div>

        <!-- El siguiente div es para la los acconables de la accion de mejora escogida -->
        <div id="creacionAccionables">
            Accionables
        </div>

        @*<div class="sameRow">
            <div class="sameColumn">
                <div class="itemOne">
                    Nombre
                </div>
                <div>
                    <input type="text" maxlength="250" placeholder="Máximo 250 caracteres" />
                </div>
            </div>

            <div class="verticalBoxes">
                <div>Inicio</div>
                <input type="datetime-local" id="meeting-time"
                       name="meeting-time" value="2018-06-12T19:30"
                       min="2018-06-07T00:00" max="2018-06-14T00:00">
            </div>
            <div class="verticalBoxes">
                <div>Fin</div>
                <input type="datetime-local" id="meeting-time"
                       name="meeting-time" value="2018-06-12T19:30"
                       min="2018-06-07T00:00" max="2018-06-14T00:00">
            </div>
            <div>
                <i class="fa fa-question-circle" style="font-size:24px"></i>
            </div>
        </div>

        <div class="verticalBoxes">
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Formularios
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Personas
                    </label>
                </div>
            </div>
            <div>
                andres
            </div>
            <div>
                navarrete
            </div>
        </div>*@
    </div>
</div>
