@model IEnumerable<AppIntegrador.Models.PlanDeMejora>

@{
    ViewBag.Title = "Planes de Mejora";
}


<div class="horizontalBoxes">
    <div class="fullWidth">
        <div class="horizontalBoxes">
            <div>
                <p class="impText">Planes de Mejora - @Model.Count() asignados</p>
            </div>
            <div>
                @Html.Partial("~/Views/PlanDeMejora/_tablaPlanesDeMejora.cshtml")
            </div>
            <div class="fullWidth">
                @Html.ActionLink("Agregar Plan de Mejora", "Create", null, new { @class = "modal-link btn btn-Nuevo" })
            </div>
        </div>
    </div>

    <br />


    <div class="fullWidth">
        <p class="impText">Objetivos</p>

        <h1>Objetivos de un plan de mejora</h1>

        <hr />
    </div>


    <div class="fullWidth">
        <p class="impText">Acciones de Mejora</p>
           <h1>Acciones de mejora</h1>
        <hr />
    </div>



    <div class="fullWidth">
        <p class="impText">Accionables</p>
        <h1>accionables</h1>
        <hr />
    </div>
</div>