@model AppIntegrador.Models.ResultadosFormulario

@{
    ViewBag.Title = "Formulario";
    String codigo = ViewBag.codigo;
}

<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Visualizacion/styles.css" rel="stylesheet" />
</head>

<body>

    <script>
        var codigoFormulario = @Html.Raw(Json.Encode(codigo));
        var questions = @Html.Raw(Json.Encode(Model.Preguntas));
    </script>
    <script src="~/Scripts/Visualizacion/Chart.js"></script>
    <script src="~/Scripts/Visualizacion/chartjs-plugin-datalabels.js"></script>
    <script src="~/Scripts/Visualizacion/chroma.js"></script>
    <script src="~/Scripts/Visualizacion/charts.js"></script>
    <script src="~/Scripts/Visualizacion/box.js"></script>
    <script src="~/Scripts/Visualizacion/collapsibles.js"></script>

</body>

