/* Main page styles */

* {
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black !important;
    font-size: 20px !important;
}

p.uppercase {
    padding: 1em;
    text-transform: uppercase;
}

.logo {
    height: 5% !important;
}

.mainBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    text-align: center;
}

.wrapper {
    display: flex;
}

    .wrapper .projectTitle {
        flex: 1;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    .wrapper > li {
        flex: 1;
    }

.search {
    flex: 1;
}

nav {
    background-color: #f0f0f0;
}

@media all and (max-width: 600px) {
    .wrapper {
        flex-wrap: wrap;
    }

        .wrapper > li {
            flex-basis: 50%;
        }
}

@media all and (max-width: 400px) {
    .wrapper > li {
        flex-basis: 100%;
    }

    .search {
        order: 1;
    }
}

/* Now in order to make a dropdown button */
.dropbtn {
    background-color: none;
    color: black;
    padding: 20px;
    border: 0em;
    width: 100%;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
}
/* End of main page styles */

.centeredText {
    text-align: center;
    width: 100%;
}

.mainBar {
    background-color: #41ADE7 !important;
}

/* Estilos para los planes de mejora */
.planesTable {
    padding-left: 5%;
    padding-right: 5%;
}

.centerImage {
    width: 100%;
}

.secondNavBar {
    font-size: 20px;
}