/* Main page styles */

* {
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}

p.uppercase {
    padding: 1em;
    text-transform: uppercase;
}

.logo {
    height: 5% !important;
}

.mainBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper {
    display: flex;
    list-style: none;
    text-align: center;
}

    .wrapper .projectTitle {
        flex: 1;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    .wrapper > li {
        flex: 1;
    }

.search {
    flex: 1;
}

nav {
    background-color: #f0f0f0;
}

@media all and (max-width: 600px) {
    .wrapper {
        flex-wrap: wrap;
    }

        .wrapper > li {
            flex-basis: 50%;
        }
}

@media all and (max-width: 400px) {
    .wrapper > li {
        flex-basis: 100%;
    }

    .search {
        order: 1;
    }
}

/* Now in order to make a dropdown button */
.dropbtn {
    background-color: none;
    color: black;
    padding: 20px;
    border: 0em;
    width: 100%;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
}
/* End of main page styles */

.mainBarText {
    color: black;
    font-size: 1em;
    
}

.ucr-logo {
    width: 30%;
    min-width: 400px;
}

.logo-styles {
    padding-left: 15px;
}

#greybg {
    background-color: #e6e6e6;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.blue-box {
    max-width: 450px;
    min-width: 390px;
    padding: 15px 15px 5px;
    border: 1px solid black;
    /*background: rgb(0,93,164);*/
    background: linear-gradient(180deg, rgba(0,93,164,1) 0%, rgba(176,237,253,1) 100%);
}

#login_error {
    color: red;
}

/*body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}*/

.col-centered {
    float: none;
    margin: 0 auto;
}

.container-login100 {
    /*/width: 100%;*/
    min-height: 87vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-foot {
    display: flex;
    justify-content: center;
}

.style-welcome {
    font-size: 400%;
    color: #005da4;
}

.centeredText {
    text-align: center;
    width: 100%;
}

.mainBar {
    background-color: #41ADE7 !important;
}

/* Estilos para los planes de mejora */
.planesTable {
    padding-left: 5%;
    padding-right: 5%;
}

.centerImage {
    width: 100%;
}


.secondNavBar {
    font-size: 20px;
}

.MenuSupDer {
    background-color: #41ade7
}

li a:hover {
    background-color: #167eb6;
    color: black;
}

.botonCentrado {
    padding: 10px;
    text-align:center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #41ade7;
}

.btn-Nuevo {
    color: black;
    background-color: white;
    border-color: #41ade7;
    border-width: 2px;
}

.btn-Nuevo:hover {
    background-color: #41ade7;
}

.center_div {
    margin: 0 auto;
    width: 80%;
}

.Info-titulo-fu {
    color: #204d6f;
    font-family: Helvetica;
    font-weight: normal;
}

.Info-parrafo-fu {
    font-family: Arial;
}
