/* Main page styles */

* {
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.mainBarList {
    list-style: none;
}

.firstNavbar {
    background-color: #DDDDDD !important;
}

p.uppercase {
    padding: 1em;
    text-transform: uppercase;
}

.logo {
    height: 5% !important;
}


.smallItem {
    flex-grow: 1;
}

.biggeritem {
    flex-grow: 3;
}

.wrapper {
    display: flex;
    list-style: none;
    text-align: center;
}

    .wrapper .projectTitle {
        flex: 1;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    .wrapper > li {
        flex: 1;
    }

.search {
    flex: 1;
}

nav {
    background-color: #f0f0f0;
    display: flex;
}

.mainBarDropdown {
    background-color: #DDDDDD !important;
    padding-color: #DDDDDD !important;
}

@media all and (max-width: 600px) {
    .wrapper {
        flex-wrap: wrap;
    }

        .wrapper > li {
            flex-basis: 50%;
        }
}

@media all and (max-width: 400px) {
    .wrapper > li {
        flex-basis: 100%;
    }

    .search {
        order: 1;
    }
}

/* Now in order to make a dropdown button */
.dropbtn {
    background-color: none; 
    /*background-color: #209fe3;*/
    padding: 20px;
    border: 0em;
    width: 100%;
    font-weight: bold;
}

.dropbtn_alt {
    background-color: #41ADE7;
    padding: 20px;
    border: 0em;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

    .dropbtn_alt:hover {
        background-color: #1989c5
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
}
/* End of main page styles */

.mainBarText {
    color: black;
    font-size: 1em;
}

.ucr-logo {
    width: 30%;
    max-width: 200px;
    max-height: 50px;
}

.logo-styles {
    padding-left: 15px;
}

#greybg {
    background-color: #e6e6e6;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.blue-box {
    max-width: 450px;
    min-width: 390px;
    padding: 15px 15px 5px;
    border: 1px solid black;
    /*background: rgb(0,93,164);*/
    background: linear-gradient(180deg, rgba(0,93,164,1) 0%, rgba(176,237,253,1) 100%);
}

#login_error {
    color: red;
}

/*body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}*/

.col-centered {
    float: none;
    margin: 0 auto;
}

.container-login100 {
    /*/width: 100%;*/
    min-height: 87vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-foot {
    display: flex;
    justify-content: center;
}

.style-welcome {
    font-size: 400%;
    color: #005da4;
}

.centeredText {
    text-align: center;
    width: 100%;
}

.mainBar {
    background-color: #41ADE7 !important;
}

/* Estilos para los planes de mejora */

.centerImage {
    width: 100%;
}


.secondNavBar {
    font-size: 20px;
}

.MenuSupDer {
    background-color: #41ade7
}

li a:hover {
    background-color: #167eb6;
    color: black;
}

/* Estilos para los planes de mejora */
.planesDeMejoraMainStyle {
    display: flex;
    text-align: center;
}

.createPlanButton {
    width: 100%;
    justify-content: flex-end;
}

.horizontalBoxes {
    display: flex;
    flex-direction: column;
}

.flexItemPlanes {
    padding-left: 2px;
}

p.impText {
    font-weight: bold !important;
    text-align: left;
}

.verticalBoxes {
    display: flex;
    flex-direction: row;
}

.verticalBoxesCrear {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
}

.equalSpaceVertical {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.halfVerticalBox {
    width: 50%;
}

.labelPlace {
    width: 30%;
    text-align: center;
}

.inputPlace {
    width: 50%;
}


.planButtons {
    width: 100%;
    padding-right: 20%;
    justify-content: flex-end;
}

.halfHorizontalBox {
    height: 50%;
    text-align: center;
}

.btnWithPadding {
    padding-left: 5px !important;
}

.fullWidth {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}


.indexPlanesDeMejora {
    margin-left: 5%;
    margin-right: 5%;
}

.wrapperPlanesDeMejora {
    display: flex;
    flex-direction: row;
    width: 80% !important;
    padding-left: 5%;
    padding-right: 5%;
}


.listadoPlanesDeMejora {
    width: 50%;
    order: 2;
}

.creacionPlanesDeMejora {
    width: 50%;
    order: 1;
}

.table-row {
    cursor: pointer;
}


/*
    Dashboard planes de mejora
*/

html, body {
    height: 100%;
}

.smallLabel {
    font-size: 10px !important;
}

.dashboardPlanesDeMejora {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.leftPanel {
    order: 1;
    flex-grow: 1;
    margin-right: 5px;
    border-color: black;
    border-right: 2px;
    background-color: #F0F0F0;
}

.contentPanel {
    order: 2;
    flex-grow: 8;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.centeredButtons {
    width: 100%;
    align-items: center;
}


/*.control-label {
    text-indent: 5em !important;
}*/
/* FIN DE LOS ESTILOS DEL DASHBOARD DE LOS PLANES DE MEJORA*/
/*Planes de mejora*/
.planDiv {
    border-radius: 8px;
    background-color: lightgray;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

::-webkit-inner-spin-button {
    display: none;
}


.botonCentrado {
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #41ade7;
}

.btn-Nuevo {
    color: black;
    background-color: white;
    border-color: #5FC44F;
    border-width: 2px;
}

.btn-Nuevo:hover {
    background-color: #5FC44F;
}

.center_div {
    margin: 0 auto;
    width: 80%;
}

.Info-titulo-fu {
    color: #204d6f;
    font-family: Helvetica;
    font-weight: normal;
}

.Info-parrafo-fu {
    font-family: Arial;
}

.planDiv2 {
    border-radius: 8px;
    background-color: white;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.planDiv3 {
    border-radius: 8px;
    background-color: lightgray;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

/*Para Tablas*/

.planesTable {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    table-layout: auto;
    background-color: white !important;
}

/*.EncabezadoTabla {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    text-align: left;
    background-color: #095fa3;
    color: white;
}*/

.TablasNumero {
    width: 4%;
}

.TablasNombre {
    width: 19%;
    word-break: break-all;
    text-align: left;
}

.TablasDescripcion {
    width: 35%;
    max-width: 40%;
    word-break: break-all;
}

.TablasFecha {
    width: 13%;
    max-width: 16%;
}

.TablasOpciones {
    width: 16%;
    max-width: 16%;
}

.TablasDescripcionAccionable {
    width: 64%;
    word-break: break-all;
}

.TablasCodigo {
    width: 10%;
    text-align: right;
}

.TablasNombrePlan {
    max-width: 350px;
    min-width: 250px;
    word-break: break-all;
    text-align: left;
}

.TablasUsuario {
    width: 19%;
    word-break: break-all;
    text-align: left;
}

.FilaTablasPlanesDeMejora td {
    word-break: break-all;
    background-color: white !important;
}

.highlight {
    background-color: #ddd;
}

.highlight2 {
    background-color: #ddd;
}

.FilaTablasPlanesDeMejora:hover {
    background-color: #ddd;
    cursor: pointer;
}

/*Terminan tablas*/
/*Termina Planes de mejora*/
/*Estilos para modal*/

.modal-content {
    width: 600px;
    margin: 30px auto;
}

/*Termina modal*/