@model AppIntegrador.Models.ArchivoCSV

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Visualizacion/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/CSVuploader.js"></script>


<h2>Carga CSV</h2>
@using (Html.BeginForm("Index", "CSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Subir archivo CSV:</label>
    <input type="file" name="file" id="file" accept=".csv" />
    <br>
    <br>

    <input type="submit" value="Subir CSV" />

    <br>
    <br>

    @ViewBag.Message
}

