@model IEnumerable<AppIntegrador.Models.Seccion>

@{
    ViewBag.Title = "Banco de secciones";
}

@using (Html.BeginForm("Create", "Formularios", FormMethod.Get))
{
    <h2>Agregar secciones al formulario</h2>
    //the following are search options
    <b>
        Opciones de búsqueda:
    </b>

    <form action="PreguntaConOpcionesDeSeleccionController/Index" name="opcionfiltro">
        <input type="radio" name="sel" value="1" id="codigo"
               onclick="enableElement(this.form.elements['inp1']);"> <text>Codigo</text>
        <input type="text" name="inp1" disabled="disabled">

        <input type="radio" name="sel" value="2"
               onclick="enableElement(this.form.elements['inp2']);"><text>Nombre</text>
        <input type="text" name="inp2" disabled="disabled">

        <input type="submit"
               name="submit"
               value="Filtrar"
               class="btn" />

        <br />

    </form>

}


<div style="height: 300px; overflow: auto;">
    <table id="selectedColumn" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
                    
        <thead>

            <tr>
    <th>
        
    </th>
    <th>
        Codigo
    </th>
    <th>
        Nombre
    </th>
</tr>
        </thead>
        @foreach (var item in Model)
        {

        <tr id="sec(@item.Codigo)">
            <td style="width:10%;">
                <center>
                    <input type="checkbox" class="SectionCheckbox" value="@item.Codigo" onclick="selectSeccion(this)" />
                </center>
            </td>
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td style="width:70%">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
    }

    </table>
</div>


<style>
    input.SectionCheckbox {
        width: 30px;
        height: 30px;
    }


</style>
