@model AppIntegrador.Models.Seccion

@{
    ViewBag.Title = "Details";
}

<div>

    <H2>
        @Html.DisplayFor(model => model.Codigo)
        @Html.DisplayFor(model => model.Nombre)
    </H2>

        <table id="selectedColumn" class="table table-hover table-striped table-bordered table-sm" cellspacing="0" width="100%">
            @foreach (var pregunta in Model.Seccion_tiene_pregunta)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => pregunta.PCodigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => pregunta.Pregunta.Enunciado)
                        </td>
                    </tr>
            }
    </table>

</div>

