<div class="form-horizontal card-group">
    <div class="modal fade" id="ModalPreguntaLista" tabindex="-1" role="dialog" aria-labelledby="ModalSeccionesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="ModalListaAccionableInterno" style="width:auto">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blancoUCR" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
